*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form-register{
    width: 100%;
    background: #2c1500;
    padding: 30%;
    margin: auto;
    margin-top: 150px;
    border-radius: 40px;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px #8a4601 ;
}

.form-register h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #bb8548;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 16px;
    border: 1px solid #0e0802;
    font-family: 'calibri';
    font-size: 30px;
    line-height: 40px;
}

.botons {
    width: 100%;
    background: rgb(160, 92, 4);
    border: none;
    padding: 14px;
    color: rgb(255, 253, 251);
    margin: 16px 0;
    font-size: 40px;
}

.form-register p {
    height: 40 px;
    text-align: left;
    font-size: 30px;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;


}

.form-register .botons {
    width: 100%;
    background: rgb(160, 92, 4);
    border: none;
    padding: 14px;
    color: rgb(255, 253, 251);
    margin: 16px 0;
    font-size: 40px;
}

.bottons {
    width: 100%;
    background: rgb(77, 46, 0);
    border: none;
    padding: 10px;
    color: rgb(255, 253, 251);
    margin: 10px 0;
    font-size: 16px;
}