{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
    
<section class="page-section bg-primary" id="ABOUT">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/imagenes/about.webp'%}" alt="..." />
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Café fuerte, mente fuerte</span>
                            <P></P>
                            <span class="section-heading-lower">ACERCA DE NUESTRO  CAFÉ</span>
                        </h2>
                        <p>Fundado en 1987, nuestro establecimiento ha estado sirviendo un esquisito café procedente de agricultores artesanales provenientes de varias regiones del planeta. Nos dedicamos a viajar por el mundo, encontrar el mejor café y traerlo aquí en nuestra cafetería.</p>
                        <p class="mb-0">
                            Te garantizamos que caeras 
                            <em>encantado</em>
                            con nuestras deliciosas mezclas desde el momento en que entras hasta que terminas tu último sorbo.
                            Nos encantará formar parte de rutina, cuando sales con amigos o simplemente para disfrutar de un tiempo a solas.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="product-item-description d-flex me-auto">
    <div class="bg-faded p-5 rounded"><p class="mb-0" style="font-size: 40px;">HOLA! SOY MATI, UN GUSTO!</p>
        <p class="mb-0" style="font-size: 20px;">
            Soy Matías Vargas, tengo 24 años y actualmente estoy estudiando Ingeniería Industrial en la UNLZ. 
            Estoy muy interesado por la programación, el ánalisis de datos y por supuesto que mi bebida favorita es el café.
            Esta es la primera Aplicación Web que realizo, estoy muy satisfecho con el resultaado a pesar de que aún hay muchas 
            cosas por mejorar, espero ir progresando con la práctica. Espero que te guste mi Aplicación Web y no olvides tomar tu Café
            o la bebida que más te guste. Nos vemos!!! 
        </p>
        </div><img class="img-fluid" src="{% static 'core/imagenes/perfil.png' %}" width="250" height="200"/>
    </div>
</div>


<a href="{% url 'core:Home' %}">

    <section class="page-section bg-primary" id="about">
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-lg-8 text-center">
                  <h2 class="text-white mt-0">VOLVER AL INCIO</h2>
              </div>
          </div>
      </div>
  </section>
{% endblock contenido %}