{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
{% endblock titulo %}
{% block contenido %}

{% if user.is_authenticated %}

{{mensaje}}

{% endif %}    
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/imagenes/intro.webp' %}" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Café que enamora</span>
                    <P></P>
                    <span class="section-heading-lower">Un momento para disfrutar</span>
                </h2>
                <p class="mb-3">Cada taza de nuestro café artesanal de calidad comienza con ingredientes finamente seleccionados. Una vez que lo pruebes, nuestro café será una maravillosa adición a tu rutina. </p>
                <span>¡Te lo garantizamos!</span>

                </p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="https://wa.me/541133051014" target = "_blank">WhatsApp</a></div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nuestra Promesa</span>
                        <P></P>
                        <span class="section-heading-lower">para vos</span>
                    </h2>
                    <p class="mb-0">Cuando ingresas a nuestro establecimiento para comenzar el día, estamos dedicados a brindarte un servicio amable, un ambiente cálido y, sobre todo, excelentes productos elaborados con ingredientes de la más alta calidad. Si no está satisfecho, háganoslo saber y haremos todo lo posible para arreglar las cosas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">VEN A VISITARNOS</span>
                        <span class="section-heading-lower">ESTAMOS ABIERTOS TODOS LOS DÍAS</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Domingo
                            <span class="ms-auto">9:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Lunes
                            <span class="ms-auto">7:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Martes
                            <span class="ms-auto">7:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Miércoles
                            <span class="ms-auto">7:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Jueves
                            <span class="ms-auto">7:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Viernes
                            <span class="ms-auto">7:00 a 22:00 </span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sábado
                            <span class="ms-auto">9:00 a 00:00 </span>
                        </li>
                    </ul>
                    <p class="address mb-5" style="font-size: 2em;">
                        <em>
                            <strong>Avenida Las Heras 2450</strong>
                            <br />
                            Recoleta, CABA
                        </em>
                    </p>
                    <p class="mb-0" style="font-size: 2em;">
                        <em>Te esperamos!</em>
                   </p>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">La Esquina del Sabor &copy; 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'core/js/scripts.js' %}></script>



{% endblock contenido %}
