{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Detalle de productos</title>
        <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet"/>
    </head>

    <body>
        
        <div class="row">
            {% for Producto in productos %}
            <div class="col-md-3 pb-4">
                <div class="card mb-3" style="background-color: burlywood; color: black;">  <div class="card-body align-self-md-center my-1 ">
                    <h5 class="card-title text-nowrap">{{ Producto.nombre }}
                    </h5>
                    <p class="card-text">
                    <span class="fw-bold">Categoria: </span> {{ Producto.categoria }} <br>
                    
                    <span class="fw-bold">Precio: $</span> {{ Producto.precio_producto}} <br>
                    
                    <span class="fw-bold">Origen: </span> {{ Producto.Origen_producto }} <br>
                    </div>
                </div>
            </div>
        
            {% endfor %}
               
        </div>
            

        <a href="{% url 'core:Home' %}">

            <section class="page-section bg-primary" id="about">
              <div class="container px-4 px-lg-5">
                  <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-lg-8 text-center">
                          <h2 class="text-white mt-0">VOLVER AL INCIO</h2>
                      </div>
                  </div>
              </div>
          </section>

        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">La Esquina del Sabor &copy; 2024</p></div>
        </footer>

{% endblock contenido %}