{% extends 'core/base.html' %}
{% load static %}
    {% block  titulo%}

    <section class="page-section">
      <div class="container">
          <div class="product-item">
              <div class="product-item-title d-flex">
                  <div class="bg-faded p-5 d-flex me-auto rounded">
                      <h2 class="section-heading mb-0">
                          
                          <span class="section-heading-lower">CLIENTES</span>
                          
                      </h2>
                    </div>
              </div>
          </div>
        </div>
    </section> 
    {% endblock titulo %}

    {% block contenido %}

    <div class="col-md-3 pb-4">
        <div class="card-body align-self-md-center my-1">
          <form action="{% url 'cliente:Home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar..." style="background-color: rgb(221, 155, 68); color: rgb(255, 254, 253);
              width: 100%; /* Full width */
              padding: 10px; /* Padding */
              border: 10px solid burlywood; /* Border */
              border-radius: 50px; /* Rounded corners */
              font-size: 20px; /* Font size */
            ">
          </form>
        </div>
      </div>
    </div>

        
    <div class="row">
      {% for Cliente in clientes %}
      <div class="col-md-3 pb-4">
        <div class="card mb-3" style="background-color: burlywood; color: black;">  <div class="card-body align-self-md-center my-1 ">
            <h5 class="card-title text-nowrap">{{ Cliente.nombre }} {{Cliente.apellido}}</h5>
            <p class="card-text">
              <a href="{% url 'cliente:cliente_detail' Cliente.id  %}"><br>
                <input class="btn btn-dark" type="submit" value="       VER DATOS       "> </a>
              <a href="{% url 'cliente:cliente_delete' Cliente.id  %}"><br>
              <input class="btn btn-danger " type="submit" value="ELIMINAR CLIENTE"> </a>
              <a href="{% url 'cliente:cliente_update' Cliente.id  %}"><br>
                <input class="bottons" type="submit" value="MODIFICAR CLIENTE"> </a> </p>
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
      
    <div class="fs-3 pb-4 ">
      <a href="{% url 'cliente:cliente_create' %}">
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">CREAR CLIENTES</span></a>
    </div> 

    <a href="{% url 'core:Home' %}">
     
      <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">VOLVER AL INCIO</h2>
                </div>
            </div>
        </div>
    </section>


    </a>
        
      <footer class="footer text-faded text-center py-5">
        <div class="container"><p class="m-0 small">La Esquina del Sabor &copy; 2024</p></div>
    </footer>
    {% endblock contenido%}


